/* @import url('href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css') */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.navigation-bar{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  background-color: #534f4a12;
}

#only-name{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
#only-name h1{
  font-size: 50px;
}

nav{
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
}

nav a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid white;
  padding: 3px;
  border-radius: 10px;
  color: black;
}

nav a:hover{
  background-color: #bacbcf61;
  border: 1px solid white;
  transition: .5s;
}
nav a.hero-name{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 800;

}

